button {
    border: 0px;   
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 375px;
}

#display {
    padding: 8px;
    text-align: right;
}

.btn {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.btn-row {
    display: flex;
    gap: 4px;
    justify-content: space-between;
}

button {
    flex: 1;
    height: 56px;
    font-size: 18px;
}

button:active {
    background-color: grey;
}

.hl-lock {
    background-color: grey;
}